.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 10px;
}

.text-center {
    text-align: center;
}

#qr {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.filter-bar {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.filter-bar select,
.filter-bar button {
    margin: 0 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background: white;
}

.filter-bar button {
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.filter-bar button:hover {
    background: #0056b3;
}

/* .card {
    width: 300px;
    margin: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    background: white;
}

.card img.poster {
    width: 100%;
    height: auto;
}

.read-more {
    text-align: justify;
}

.read-more-button {
    background: none;
    border: none;
    color: blue;
    cursor: pointer;
    text-decoration: underline;
    padding: 0;
}

.read-more-button:hover {
    color: darkblue;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
} */
.home {
    padding-bottom: 45px;
}




.logo {
    padding-top: 100px;
    font-size: 3em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin: 20px 0;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.logo .stream {
    color: #ff000d;
    /* Change this to your desired color */
}